<div class='container'>
  <div class='row'>
    <div id="welcomeSearch" class='col-lg-12'>
      <div class="well">
          <%= form_tag search_teams_path, {method: :post, class: 'form-inline'} do %>
            <%= text_field_tag 'q', '' %>
            <%= submit_tag '検索', class: 'btn btn-lg btn-default' %>
          <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h3 id="teamListTitle"><i class="fa fa-cube"></i>&nbsp;チーム一覧</h3>
      <div class="team-list">
        <% @teams.each do |t|%>
        <div class='col-lg-4'>
          <table class='table table-bordered'>
            <tr><td class='group-img'><%= link_to image_with_dummy(t.img.url, {width: 150, height: 150}), team_path(t) %></td></tr>
            <tr><td><b><%= link_to t.team_name, team_path(t) %></b><br/>[メンバー数: <%= t.team_users.where('role != 0').count %>名]</td></tr>
            <tr><td><i class='fa fa-map-marker'></i>&nbsp;<%= t.location %></td></tr>
          </table>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
