<div class='container'>
  <div class='row'>
    <div class='back-btn col-lg-offset-2 col-lg-8'>
      <%= link_to home_index_path do %>      
        <i class='fa fa-backward'></i>&nbsp;戻る
      <% end %>
    </div>
  </div>
  <div class='row'>
    <div id='newGroupForm' class='col-lg-offset-2 col-lg-8'>
      <%= form_for @team, html: {class: 'form-horizontal', multipart: true} do |f| %>
      <div class='data-contents-row'>
        <div class='data-contents-label'><%= f.label :private_flag, '状態', class: 'control-label' %><span class='label label-danger'>必須</span></div>
        <%= f.radio_button :private_flag, 0, {checked: true} %>公開&nbsp;&nbsp;
        <%= f.radio_button :private_flag, 1 %>非公開
      </div>
      <div class='data-contents-row'>
        <div class='data-contents-label'><%= f.label :team_name, 'チーム名', class: 'control-label' %><span class='label label-danger'>必須</span></div>
        <div class='data-contents-data'><%= f.text_field :team_name, class: 'form-control' %></div>
      </div>
      <div class='data-contents-row'>
        <div class='data-contents-label'><%= f.label :sport_id, 'スポーツ', class: 'control-label' %><span class='label label-danger'>必須</span></div>
        <div class='data-contents-data'><%= f.select :sport_id, @sports, {}, {class: 'form-control'} %></div>
      </div>

      <div class='data-contents-row'>
        <div class='data-contents-label'><%= f.label :location, '活動場所', class: 'control-label' %><span class='label label-default'>任意</span></div>
        <div class='data-contents-data'><%= f.text_field :location, class: 'form-control' %></div>
      </div>

<!--
      <div class='data-contents-row'>
        <div class='data-contents-label'><%#= f.label :club_id, 'スポーツクラブ', class: 'control-label' %><span class='label label-default'>任意</span></div>
        <div class='data-contents-data'><%#= f.select :club_id, @clubs, {}, {class: 'form-control'} %></div>
      </div>
-->
      <div class='data-contents-row'>
        <div class='data-contents-label'><%= f.label :img, 'チームの画像', class: 'control-label' %><span class='label label-default'>任意</span></div>
        <%= f.hidden_field :img_cache %>
        <div class='data-contents-data'><%= f.file_field :img, accept: '.jpg,.jpeg,.gif,.png,image/gif,image/jpeg,image/png', class: 'form-control' %></div>
      </div>
      <div class='new-group-submit'>
        <%= f.submit '登録' %>
      </div>
      <% end %>
    </div>
  </div>
</div>
