<div id="teamContents">
  <% if @apply_cnt > 0 && @team_user.present? %>
  <div class="row">
    <div class="col-lg-12">
      <div id="requestView">
        <i class="fa fa-info-circle"></i>
        <div class="request-text">
          <%= link_to "#{@apply_cnt}人の参加リクエストがあります。", apply_check_teams_path(tid: @team.id) %>
        </div>
      </div>
    </div>
  </div>
  <% end %>

  <div class="row">
    <div class="col-lg-12">
      <table id="teamInfoTable" class="table table-bordered">
        <tr><td class="img" rowspan="3"><%= image_with_dummy(@team.img.url, {width: 96, height: 96}) %></td><td><b><%= h(@team.team_name) %></b></td></tr>
        <tr><td><i class='fa fa-map-marker'></i>&nbsp;<%= h(@team.location) %></td></tr>
        <tr>
          <td>
            <% if @team_user.present? %>
              <%= link_to '編集', edit_team_path(@team) %>
            <% else %>
              <%= @team.body.presence || '---' %>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row">
      <% if @current_user.present? && @team_user.blank? %>
        <% if @apply_user.blank? %>
        <div id="teamApply" class="col-lg-12">
        <%= form_tag apply_teams_path, {method: :post, class: 'form-inline'} do %>
          <%= hidden_field_tag :team_id, @team.id %>
          <%= submit_tag 'このチームに参加申請する', class: 'custom-btn error' %>
        <% end %>
        </div>
        <% else %>
        <div class="col-lg-12">
          <div class="alert alert-info">参加申請の承認待ち状態です。</div>
        </div>    
        <% end %>
      <% end %>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="pull-left">
        <h3><i class="fa fa-calendar"></i>&nbsp;活動予定</h3>
      </div>
      <% if @current_user.present? && @team_user.present? %>
      <div class="pull-right" style="margin-top: 5px;">
        <%= link_to new_event_path(tid: @team.id), class: 'custom-btn' do %>
          <i class='fa fa-plus-circle'></i>&nbsp;新規登録
        <% end %>
      </div>
      <% end %>
    </div>
  </div>

<ul id="teamEventList">
  <% if @events.blank? %>
    <li>登録されている活動予定はありません。</li>
  <% else %>
    <% @events.each do |e| %>
      <li>
        <h4><%= link_to e.subject, event_path(e.id) %></h4>
        <p class='ts'><%= e.start_at.strftime('%-m月%-d日 %-H:%M')%> 〜 <%= e.end_at.strftime('%-m月%-d日 %-H:%M')%></p>
        <p class='body'><%= e.body.presence || '-----' %></p>
        <p class='body'><i class="fa fa-commenting-o"></i>コメント: <%= e.event_comments.count %>件</p>
      </li>
    <% end %>
  <% end %>
  <li style='height: 25px;'></li>
</ul>

</div>
