<% if @current_user.present? %>
<ul id='groupSelectListSp'>
  <li>
    <%= link_to new_event_path(tid: @team.id) do %>
      <i class='fa fa-plus-circle'></i>&nbsp;活動予定を登録
    <% end %>
  </li>
  <div class='clearfix'></div>
</ul>
<% end %>

<div id='groupContents' class='container'>
  <% if @apply_cnt > 0 %>
  <div class="row">
    <div class='col-lg-offset-1 col-lg-10'>
      <div id="requestView">
        <i class="fa fa-info-circle"></i>
        <div class="request-text">
          <%= link_to "#{@apply_cnt}人の参加リクエストがあります。", apply_check_teams_path(tid: @team.id) %>
        </div>
      </div>
    </div>
  </div>
  <% end %>

  <div class='row'>
    <div class='col-lg-offset-1 col-lg-10'>
      <div class='pull-left'>
        <h3><i class='fa fa-calendar'></i>&nbsp;「<%= @team.team_name %>」の活動予定</h3>
      </div>
      <% if @current_user.present? %>
        <% if @team_user.present? %>
        <div class='pc pull-right' style='margin-top: 20px;'>
          <%= link_to new_event_path(tid: @team.id), class: 'custom-btn' do %>
          <i class='fa fa-plus-circle'></i>&nbsp;活動予定を登録
          <% end %>
        </div>
        <% else %>
        <div class='pc pull-right' style='margin-top: 20px;'>
        <%= form_tag apply_teams_path, {method: :post, class: 'form-inline'} do %>
          <%= hidden_field_tag :team_id, @team.id %>
          <%= submit_tag 'このチームに参加申請する', class: 'custom-btn error' %>
        <% end %>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class='row'>
    <div class='col-lg-offset-1 col-lg-10'>
      <table id='eventIndexTable' class='table table-bordered'>
        <% @events.each do |e| %>
        <tr>
          <td>
            <h4><%= link_to e.subject, event_path(e.id) %></h4>
            <p class='ts'><%= e.start_at.strftime('%-m月%-d日 %-H:%M')%> 〜 <%= e.end_at.strftime('%-m月%-d日 %-H:%M')%></p>
            <p class='body'><%= e.body.presence || '-----' %></p>
            <p class='body'>コメント数: <%= e.event_comments.count %>件</p>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
  <div class="row">
    <div id="teamApply" class="col-lg-offset-1 col-lg-10">
      <% if @current_user.present? && @team_user.blank? %>
        <%= form_tag apply_teams_path, {method: :post, class: 'form-inline'} do %>
          <%= hidden_field_tag :team_id, @team.id %>
          <%= submit_tag 'このチームに参加申請する', class: 'custom-btn error' %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<%= javascript_tag do %>
/*
$(function() {
	$('#calendar').fullCalendar({
		header: {
			left: 'prev,next today',
			center: 'title',
			right: 'month,agendaWeek,agendaDay'
		},
		lang: 'ja',
		events: <%#= raw @events.to_json %>

	});
});
*/
<% end %>
