<div class='container'>
  <div class='row'>
    <div class='back-btn col-lg-offset-2 col-lg-8'>
      <%= link_to home_index_path do %>      
        <i class='fa fa-backward'></i>&nbsp;戻る
      <% end %>
    </div>
  </div>
  <div class='row'>
    <div id='newGroupForm' class='col-lg-offset-2 col-lg-8'>
      <%= form_for @group, html: {class: 'form-horizontal', multipart: true} do |f| %>
      <div class='form-group'>
        <%= f.label :name, 'グループ名', class: 'col-lg-3 control-label' %><span class='label label-danger'>必須</span>
        <div class='col-lg-9'><%= f.text_field :name, class: 'form-control' %></div>
      </div>
      <div class='form-group'>
        <%= f.label :sport_id, 'スポーツ', class: 'col-lg-3 control-label' %><span class='label label-danger'>必須</span>
        <div class='col-lg-9'><%= f.select :sport_id, @sports, {}, {class: 'form-control'} %></div>
      </div>
      <div class='form-group'>
        <%= f.label :club_id, 'スポーツクラブ', class: 'col-lg-3 control-label' %><span class='label label-default'>任意</span>
        <div class='col-lg-9'><%= f.select :club_id, @clubs, {}, {class: 'form-control'} %></div>
      </div>
      <div class='form-group'>
        <%= f.label :img, 'グループ画像', class: 'col-lg-3 control-label' %><span class='label label-default'>任意</span>
        <%= f.hidden_field :img_cache %>
        <%#= image_tag @group.img.url, width: 150, height: 150, id: 'group_img' if @group.img? %>
        <div class='col-lg-9'><%= f.file_field :img, accept: '.jpg,.jpeg,.gif,.png,image/gif,image/jpeg,image/png', class: 'form-control' %></div>
      </div>
      <div class='new-group-submit'>
        <%= f.submit '登録' %>
      </div>
      <% end %>
    </div>
  </div>
</div>
