<div id="accountData" class='row'>
  <div class='col-lg-12'>
    <h4>
      <%= link_to image_with_dummy(current_user.profile_img_url, {width: 26, height: 26}), account_path(@account) %>
      &nbsp;<span><%= @account.user_name %>&nbsp;さんの所属チーム</span>
    </h4>
  </div>
</div>

<ul id="homeTeamList">
  <% if @teams.present? %>
    <% @teams.each do |tid, t| %>
    <li>
      <div><%= link_to image_with_dummy(t['img_url'], {width: 64, height: 64}), team_path(tid) %></div>
      <p><%= link_to h(t['name']).truncate(20), team_path(tid) %></p>
    </li>
    <% end %>
    <div class="clearfix"></div>
  <% else %>
    <div class="row" style="margin-top: 10px;">
      <div class="col-lg-12">
        <div class='alert alert-danger'>現在あなたが参加しているチームはありません。新しくチームを登録するか、参加したいチームを検索し、参加申請をしてください。</div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div id="newGroupBtn">
          <%= link_to new_team_path do %>
          <i class='fa fa-plus-circle'></i>&nbsp;チームを登録する
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</ul>

<div id="accountData" class='row'>
  <div class='col-lg-12'>
    <h4>今後の活動予定</h4>
  </div>
</div>

<ul id="myEventList">
  <li style="padding: 0;"></li>
  <% if @events.present? %>
  <% @events.each do |e| %>
  <li>
    <div class="team-img pull-left"><%= link_to image_with_dummy(e['img_url'], {width: 48, height: 48}), team_path(e['team_id']) %></div>
    <div class="my-event-info pull-left">
      <h4><%= link_to e['team_name'], team_path(e['team_id']) %></h4>
      <p class="time"><%= e['start_at'] %> ~</p>
      <p class="subject"><%= link_to e['subject'], event_path(e['event_id'])%></p>
    </div>
    <div class="clearfix"></div>
  </li>
  <% end %>
  <% else %>
  <li>まだイベントが登録されていません。チームページからイベントを作成してください。</li>
  <% end %>
  <li style="margin: 0; padding: 0;"></li>
</ul>

<div id="accountData" class='row'>
  <div class='col-lg-12'>
    <h4>タイムライン</h4>
  </div>
</div>

<ul id="timelineList">
  <li style="padding: 0;"></li>
  <% @timelines.each do |t| %>
  <li>
    <div class="img pull-left"><%= link_to image_with_dummy(t['img_url'], {width: 48, height: 48}), account_path(t['account_id']) %></div>
    <div class="timeline-info pull-left">
      <% if t['action_type'] == 'event_create' %>
        <p><%= link_to t['user_name'], account_path(t['account_id']) %>さんが<%= link_to t['team_name'], team_path(t['team_id']) %>に「<%= link_to t['event_name'], event_path(t['event_id']) %>」の予定を立てました。</p>
      <% elsif t['action_type'] == 'event_comment' %>
        <p><%= link_to t['user_name'], account_path(t['action_user_id']) %>さんが<%= link_to t['team_name'], team_path(t['team_id']) %>のイベント「<%= link_to t['event_name'], event_path(t['event_id']) %>」にコメントしました。</p>
        <p class="comment"><%= t['comment'] %></p>
      <% elsif t['action_type'] == 'event_participate' %>
        <p><%= link_to t['user_name'], account_path(t['action_user_id']) %>さんが<%= link_to t['team_name'], team_path(t['team_id']) %>のイベント「<%= link_to t['event_name'], event_path(t['event_id']) %>」に参加登録しました。</p>
      <% elsif t['action_type'] == 'team_apply' %>
        <p><%= link_to t['user_name'], account_path(t['action_user_id']) %>さんから<%= link_to t['team_name'], team_path(t['team_id']) %>に参加申請が届いています。</p>
      <% elsif t['action_type'] == 'team_apply_permit' %>
        <p><%= link_to t['team_name'], team_path(t['team_id']) %>への参加が承認されました。</p>
      <% end %>
      <p class="timestamp"><%= t['created_at']%></p>
    </div>
    <div class="clearfix"></div>
  </li>
  <% end %>
  <li style="margin: 0; padding: 0;"></li>
</ul>
