<div id='homeContents' class='container'>
  <div class='row'>
    <div class='col-lg-12'>
      <div class='pull-left'>
        <h3><i class='fa fa-users'></i>&nbsp;あなたが所属しているチーム</h3>
      </div>
    </div>
  </div>

  <% if @teams.blank? %>
  <div class="row">
    <div class="col-lg-12">
      <div class='alert alert-danger'>現在あなたが参加しているチームはありません。新しくチームを登録するか、公開チームの中から参加したいチームに参加申請をしてください。</div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div id="newGroupBtn">
        <%= link_to new_team_path do %>
        <i class='fa fa-plus-circle'></i>&nbsp;チームを登録する
        <% end %>
      </div>
    </div>
  </div>
  <% else %>
  <% @teams.each do |t| %>
  <div class="row">
    <div class="col-lg-12">
      <table class="table table-bordered team-list-table">
        <tr><td class="team-img" rowspan="3"><%= link_to image_with_dummy(t.img.url, {width: 96, height: 96}), team_path(t) %></td><td><b><%= link_to t.team_name, team_path(t) %></b><br/>[メンバー数: <%= t.team_users.where('role != 0').count %>名]</td></tr>
        <tr><td><i class="fa fa-map-marker"></i>&nbsp;<%= t.location %></td></tr>
        <tr><td><span class="label label-default"><%= @sports[t.sport_id] %></span></td></tr>
      </table>
    </div>
  </div>
  <% end %>
  <% end %>
</div>
