<!--
<div id="accountData" class='row'>
  <div class='col-lg-12'>
    <h4>
      <%#= link_to image_with_dummy(@account.img.url, {width: 26, height: 26}), account_path(@account) %>
      &nbsp;<span><%#= @account.user_name %>&nbsp;さんの活動予定</span>
    </h4>
  </div>
</div>

<hr/>

<ul id="myEventList">
  <%# @events.each do |e| %>
  <li><%#= e['team_name'] %></li>
  <%# end %>
</ul>
-->

<div id="accountData" class='row'>
  <div class='col-lg-12'>
    <h4>
      <%= link_to image_with_dummy(@account.img.url, {width: 26, height: 26}), account_path(@account) %>
      &nbsp;<span><%= @account.user_name %>&nbsp;さんの所属チーム</span>
    </h4>
  </div>
</div>

<hr/>

<% if @teams.blank? %>
<div class="row">
  <div class="col-lg-12">
    <div class='alert alert-danger'>現在あなたが参加しているチームはありません。新しくチームを登録するか、参加したいチームを検索し、参加申請をしてください。</div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div id="newGroupBtn">
      <%= link_to new_team_path do %>
      <i class='fa fa-plus-circle'></i>&nbsp;チームを登録する
      <% end %>
    </div>
  </div>
</div>
<% else %>
<div id="myTeamList" class="col-lg-12">
<% @teams.each do |tid, team| %>
<table class="table table-bordered team-list-table">
  <tr><td class="team-img" rowspan="3"><%= link_to image_with_dummy(team['img_url'], {width: 96, height: 96}), team_path(tid) %></td><td><b><%= link_to team['name'], team_path(tid) %></b><br/>[メンバー数: <%= @team_member_cnt[tid] %>名]</td></tr>
  <tr><td><p><i class="fa fa-map-marker"></i>&nbsp;<%= team['location'] %></p></td></tr>
  <tr>
    <td>
      <p>
        <% if @next_event[tid]['event_id'].present? %>
        <%= link_to "#{@next_event[tid]['subject']} ( #{@next_event[tid]['start_at']}〜 )", event_path(@next_event[tid]['event_id']) %>
        <% else %>
        -----
        <% end %>
      </p>
    </td>
  </tr>
</table>
<% end %>
</div>
<% end %>
