<div class="row">
  <div class="col-lg-12">
    <div id="eventFormHeader">
      <h4><%= @team.team_name %>の活動予定</h4>
    </div>
  </div>
</div>

<div id="eventForm">
<%= form_for @event, html: {multipart: true} do |f| %>
<%#= form_tag(events_path, multipart: true) do %>
  <%= f.hidden_field 'team_id', value: @team.id %>

  <div class="row subject">
    <div class="col-lg-12">
      <h5>タイトル(*必須)</h5>
      <%= f.text_field :subject %>
    </div>
  </div>

  <div class="row date">
    <div class="col-lg-12">
      <h5>日付</h5>
      <%= select_tag :year, options_for_select(['2018', '2019']) %>&nbsp;年&nbsp;/&nbsp;
      <%= select_tag :month, options_for_select(@month_list, selected: @current_month) %>&nbsp;月&nbsp;/&nbsp;
      <%= select_tag :day, options_for_select(@day_list, selected: @current_day) %>&nbsp;日
    </div>
  </div>

  <div class="row time">
    <div class="col-lg-12">
      <h5>時間</h5>
        <%= select_tag :hour, options_for_select(@hour_list, selected: @current_hour) %>&nbsp;&nbsp;:&nbsp;
        <%= select_tag :min, options_for_select(['00', '10', '20', '30', '40', '50']) %>
    </div>
  </div>

  <div class="row body">
    <div class="col-lg-12">
      <h5>説明</h5>
      <%= f.text_area :body, rows: 3 %>
    </div>
  </div>

  <div class="row submit">
    <div class="col-lg-offset-1 col-lg-10">
      <%= f.submit (@event.present? ? '更新する' : '登録する'), class: 'custom-btn' %>
    </div>
  </div>  
<% end %>
</div>
