<div class='container'>
  <div class='row'>
    <div class='back-btn col-lg-offset-2 col-lg-8'>
      <%= link_to group_path(@group.id) do %>
        <i class='fa fa-backward'></i>&nbsp;戻る
      <% end %>
    </div>
  </div>
  <div class='row'>
    <div id='newEventForm' class='col-lg-offset-2 col-lg-8'>
      <%= form_tag(events_path, class: 'form-horizontal', multipart: true) do %>
      <%= hidden_field_tag 'event[group_id]', @group.id %>

      <div class='form-group'>
        <%= label :subject, 'タイトル', class: 'col-lg-3 control-label' %>
        <div class='col-lg-9'>
          <%= text_field_tag 'event[subject]', '', class: 'form-control' %>
        </div>
      </div>

      <div class='form-group'>
        <div class='col-lg-3'><i class='fa fa-clock-o'></i>&nbsp;<%= label :time, '活動時間', class: 'control-label' %></div>
        <div class='col-lg-9'>
          <p><b>開始</b></p>
          <%= text_field_tag :start_date, @today, class: 'event-setting-calendar' %>
          <%= select_tag :start_time, options_for_select(@select_time), class: 'event-setting-time' %>
          〜
          <p><b>終了</b></p>
          <%= text_field_tag :end_date, @today, class: 'event-setting-calendar' %>
          <%= select_tag :end_time, options_for_select(@select_time), class: 'event-setting-time' %>
        </div>
      </div>

      <div class='form-group'>
        <%= label :body, '説明', class: 'col-lg-3 control-label' %>
        <div class='col-lg-9'>
          <%= text_area_tag 'event[body]', '', rows: 3, class: 'form-control' %>
        </div>
      </div>

      <div class='new-event-submit'>
        <%= submit_tag '登録' %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<script type='text/javascript'>
$(function() {
	$('.event-setting-calendar').datepicker({
		language: 'ja',
		format: 'yyyy-mm-dd'
	});
});
</script>
