<div class="row">
  <div class="col-lg-12">
    <table id="eventCommentInfo" class='table table-bordered'>
      <tr>
        <th>タイトル</th>
        <td>
          <%= @event['subject'] %>&nbsp;
        </td>
      </tr>
      <tr>
        <th>日時</th>
        <td><%= @event['start_at'].strftime('%-m月%-d日 %T') %> 〜</td>
      </tr>
      <tr>
        <th>説明</th>
        <td><%= h(@event['body']) %></td>
      </tr>
      <tr>
        <th>参加者</th>
        <td>
          <p style="margin-bottom: 4px;"><%= @participants.length %>人 (未回答: <%= @team_member_ids.length - @participants.length %>人)</p>
          <% @participants.each do |p| %>
            <%= link_to image_with_dummy(p['img_url'], {width: 28, height: 28}), account_path(p['id']) %>
          <% end %>
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <h4><i class="fa fa-edit"></i>&nbsp;レポートを投稿する</h4>
    <%= form_for @new_report do |f| %>
      <%= f.hidden_field :event_id, value: @event.id %>
      <%= f.hidden_field :team_id, value: @event.team_id %>
      <%= f.hidden_field :user_id, value: @account['user_id'] %>
      <%= f.hidden_field :user_name, value: @account['user_name'] %>
      <%= f.text_area :body, class: 'form-control', rows: 3 %>
      <div id='commentSubmitBtn'>
        <%= f.submit '投稿', class: 'pull-right' %>
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <h4><i class="fa fa-list"></i>&nbsp;投稿一覧</h4>
  </div>
</div>

<ul id="commentList">
  <% if @reports.blank? %>
    <li>このイベントへの投稿はありません</li>
  <% else %>
    <% @reports.each do |c| %>
    <li>
      <div class="commentImage pull-left">
        <%= link_to image_with_dummy(c['img_url'], {width: 32, height: 32}), account_path(c['id']) %>
      </div>
      <div class="commentInfo pull-left">
        <p class="name">
        <% if c['user_name'].blank? %>
          名無しさん
        <% else %>
          <%= link_to c['user_name'], account_path(c['id']) %>
        <% end %>
        </p>
        <p class="time"><%= c['created_at'] %></p>
      </div>
      <div class="clearfix"></div>
      <p class="comment"><%= h(c['body']) %></p>
      <hr/>
      <div class="report-share">
        <div class="pull-left">シェアする</div>
        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="pull-left twitter-share-button" data-text="<%= c['body'] %>" data-via="spo_commu" data-hashtags="スポコミュ" data-lang="ja" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <div class="clearfix"></div>
      </div>
    </li>
    <% end %>
  <% end %>
</ul>
