<div class="row">
  <div id="loginForm" class="col-lg-12">
    <div class='capt'>
      <span class='txt-caption'>ログイン</span>
      <!--<span>このサービスをご利用いただくには会員登録(無料)が必要です。</span>-->
    </div>

    <div>
      <%- if devise_mapping.omniauthable? %>
        <%- resource_class.omniauth_providers.each do |provider| %>
          <% if provider == :facebook %>
            <div class='fb-login'>
              <%#= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider) %>
              <%= link_to 'Facebookでログイン', omniauth_authorize_path(resource_name, :facebook) %>
            </div>
          <% end %>
        <% end -%>
      <% end -%>

      <div class='login-or'><span>- または -</span></div>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class='login-form-field'>
          <%= f.email_field :email, placeholder: 'メールアドレス', autofocus: true %>
        </div>

        <div class='login-form-field'>
          <%= f.password_field :password, placeholder: 'パスワード', autocomplete: "off" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class='login-form-remember'>
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me, 'ログイン情報を記憶する' %>
          </div>
        <% end -%>

        <div class='login-form-submit'>
          <%= f.submit 'ログイン' %>
        </div>
      <% end %>

      <div class='login-password-forget'>
        <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
          <%= link_to 'パスワードを忘れた？', new_password_path(resource_name) %><br />
        <% end -%>
      </div>

      <hr/>

      <div class='login-signup'>
        <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
          <%= link_to '新規登録', new_registration_path(resource_name) %><br />
        <% end -%>
      </div>
    </div>
  </div>
</div>
