<!DOCTYPE html>
<html lang='ja'>
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    <title>スポコミュ</title>
    <meta name='description' content='スポーツを楽しむ人のコミュニティサイト。次の活動予定をシェアしたり、これまでの活動履歴を管理したりすることができます。' />
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MTRGQF7');</script>
    <!-- End Google Tag Manager -->

    <link rel="manifest" href="/manifest.json">

    <script>
    window.addEventListener('load', function() {
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register("/js/serviceWorker.js")
          .then(function(registration) {
            console.log("serviceWorker registed.");
          }).catch(function(error) {
            console.warn("serviceWorker error.", error);
          });
      }
    });
    </script>
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MTRGQF7"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class='navbar-fixed-top header'>
      <div class='pull-left'>
      <%= link_to image_tag('logo.png', {class: 'header-logo', width: 150, height: 27}), root_path, class: 'no-decorate' %>
      </div>
    </div>

    <div class='whole-container'>
      <% flash.each do |k, v| %>
        <% k = 'info' if k == 'notice' %>
        <% k = 'danger' if k == 'alert' %>
        <%= content_tag :div, v, class: "alert alert-#{k}" %>
      <% end %>
      <%= yield %>
    </div>

    <div id="footer">
      <ul>
        <li>
          <%= link_to root_path do %>
            <i class="fa fa-2x fa-home"></i>
          <% end %>
        </li>
        <li>
          <%= link_to new_team_path do %>
            <i class='fa fa-2x fa-plus-circle'></i>
          <% end %>
        </li>
        <li>
          <%= link_to teams_path do %>
            <i class="fa fa-2x fa-search"></i>
          <% end %>
        </li>
        <li>
          <% if @account.present? %>
          <%= link_to account_path(@account) do %>
            <i class="fa fa-2x fa-user"></i>
          <% end %>
          <% else %>
          <%= link_to new_user_session_path, alert: 'この操作にはログインが必要です。'  do %>
            <i class="fa fa-2x fa-user"></i>
          <% end %>
          <% end %>
        </li>
      </ul>
    </div>
  </body>
</html>
