<!DOCTYPE html>
<html lang='ja'>
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    <title>スポコミュ</title>
    <meta name='description' content='スポーツを楽しむ人の掲示板。次の活動予定をシェアしたり、これまでの活動履歴を管理したりすることができます。' />
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MTRGQF7');</script>
    <!-- End Google Tag Manager -->
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MTRGQF7"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class='navbar-fixed-top header'>
      <div class='pull-left'>
      <%= link_to image_tag('logo.png', {class: 'header-logo', width: 150, height: 27}), root_path, class: 'no-decorate' %>
      </div>
      <div class='pull-right nav-help'>
        <% if current_user %>
          <% unless current_user.profile_img_url.blank? %>
            <%= image_tag(current_user.profile_img_url, width: 30) %>
          <% end %>
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to 'ログイン', new_user_session_path %>
        <% end %>
      </div>
    </div>

    <div class='whole-container'>
<!--
      <%# if notice %>
        <div class='alert alert-info'><%#= notice %></div>
	  <%# end %>
      <%# if alert %>
        <div class='alert alert-danger'><%#= alert %></div>
      <%# end %>
-->
      <%= yield %>
    </div>

    <div id='footer' >
      <div class='footer-container'>
        <nav>
          <ul class='list-inline text-center'>
            <li>© スポコミュ<%#= link_to %></li>
          </ul>
        </nav>
      </div>
    </div>
  </body>
</html>
