<!DOCTYPE html>
<html lang='ja'>
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    <title>スポコミュ</title>
    <meta name='description' content='スポーツを楽しむ人のコミュニティサイト。次の活動予定をシェアしたり、これまでの活動履歴を管理したりすることができます。' />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="author" content="スポコミュ" />
    
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@sports_commu" />
    <meta property="og:url" content="https://sports.xtrend.tokyo/" />
    <meta property="og:title" content="【スポコミュ】ポーツを楽しむ人のコミュニティサイト。" />
    <meta property="og:description" content="スポーツを楽しむ人のコミュニティサイト。次の活動予定をシェアしたり、これまでの活動履歴を管理したりすることができます。" />
    <meta property="og:image" content="https://sports.xtrend.tokyo/assets/pixta_29666745_S-6f21a61ccc3ee125f9d66adec30a234fd24acf43e51559b787789900bd9c26af.jpg" />

    <meta name="keywords" content="スポーツ,コミュニティ,掲示板,フットサル,メンバー,サークル,部活,社会人サークル,メンバー募集,ランニング,野球" />
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MTRGQF7');</script>
    <!-- End Google Tag Manager -->

    <% if current_user.present? %>
      <% if current_user.endpoint.blank? %>
        <script>
        window.addEventListener('load', function() {
          if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register("/serviceWorker.js")
              .then(function(registration) {
                console.log("serviceWorker registed.");
                return registration.pushManager.getSubscription().then(function(subscription) {
                  if (subscription) {
                    return subscription
                  }
                  return registration.pushManager.subscribe({
                    userVisibleOnly: true
                  })
                })
              }).then(function(subscription) {
                var endpoint = subscription.endpoint

                $.ajax({
                  type: 'POST',
                  url: '/home/ajax_push',
                  data: {
                    endpoint: endpoint
                  },
                  success: function(data) {
                    console.log('success');
                  },
                  error: function(data) {
                  }
                });

              }).catch(function(error) {
                console.warn("serviceWorker error.", error);
              });
          }
        });
        </script>
      <% end %>
    <% end %>

    <link rel="manifest" href="/manifest.json">
  </head>

  <body>
    <div id="wrapper">
      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MTRGQF7"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->

      <div id="header">
        <div class='pull-left'>
          <%= link_to image_tag('logo.png', {class: 'header-logo', width: 150, height: 27}), root_path, class: 'no-decorate' %>
        </div>
        <div id="pcCaution" class="pull-right">
          <p>※ このサイトはスマートホンでの利用を推奨しています。</p>
        </div>
      </div>

      <div class='whole-container'>
        <% flash.each do |k, v| %>
          <% k = 'info' if k == 'notice' %>
          <% k = 'danger' if k == 'alert' %>
          <%= content_tag :div, v, class: "alert alert-#{k}" %>
        <% end %>
        <%= yield %>
      </div>

      <% if current_user.present? %>
      <div id="footer">
        <ul>
          <li>
            <%= link_to root_path do %>
              <i class="fa fa-2x fa-home"></i><p>ホーム</p>
            <% end %>
          </li>
          <li>
            <%= link_to new_team_path do %>
              <i class='fa fa-2x fa-plus-circle'></i><p>チーム追加</p>
            <% end %>
          </li>
          <li>
            <%= link_to teams_path do %>
              <i class="fa fa-2x fa-search"></i><p>検索</p>
            <% end %>
          </li>
          <li>
            <% if @account.present? %>
            <%= link_to account_path(@account) do %>
              <i class="fa fa-2x fa-user"></i><p>プロフィール</p>
            <% end %>
            <% else %>
            <%= link_to new_user_session_path, alert: 'この操作にはログインが必要です。'  do %>
              <i class="fa fa-2x fa-user"></i>
            <% end %>
            <% end %>
          </li>
        </ul>
      </div>
      <% end %>
    </div>
  </body>
</html>
